@CHARSET "UTF-8";

@page { 	
	@top-center { 
	content:element(header);
}

	@bottom-right{
	content: element(footerLink);
}

	@bottom-left {
	content: element(footer);
}
}
@page { margin: 100px 50px 100px}
.header {
	margin: 0px 0px 0px 15px;	
	position: running(header);
}

.footer {
	font-size: 12px;
	position: running(footer);
}
.footerLink{
	margin: 0px -50px 0px 0px;
	position: running(footerLink);
}
.pagenumber:before {
	content: counter(page);
}

.pagecount:before {
	content: counter(pages);
}

strong,b {
	font-weight: bold;
}
div {
	/* page-break-inside:avoid; */
	display: block;
}
.format {
	padding: 10px;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/* border-left: #0000FF 3px solid; */
	/*width: 750px; */
	margin-top:10px;
	margin-bottom:10px;
}

.logo{
	/* width: 40%; */
}
.entete{
	/* width:60%; */
	margin-left: 20px;
	padding-top: 20px;
	padding-left: 20px;
	text-align: center;
	
	
}
.head{
	font-size: 20px;
	color: #0000FF;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.subtitle{
	width: 75%;
	font-weight: bold;
}
.titre {
	color: #0000FF;
	font-size: 15px;
	/* margin-left: 10px; */
	/* padding: 3px; */
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.box {
	border: 1px solid #0000FF;
	margin-top: 1px;
	margin-left: 5px;
	font-size: 11px;
	padding: 10px;
	margin-bottom: 20px;
}
.puce{
	margin-top: 5px;
	font-weight: bolder;
	padding-left: 10px;
}
.table td{
	font-size: 11px;
}
/*ul.navigations{
	padding: 0;
	list-style-type: none;
	line-height: 40px;
	overflow: hidden;
}

ul.navigations li{
	display: inline;
}
ul.navigations li a {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #ccc;
	padding-left: 5px;
	padding-right: 5px;
	color: #0000;
	text-decoration: none;
	line-height: 27px;
	overflow: hidden;
}
ul.navigations li a.selected{
	background-color: #9cf;
	border: 2px solid black;
	color: #000;
	padding-top: 7px;
}
ul.navigations li a:hover{
	background-color: #9cf;
	color: #000;
	padding-top: 7px;
	border: 1px solid black;
}

div.menus > div {
	padding: 5px;
	margin-top: 3px;
}

#act{
	margi-top: 25px;
	text-align:  justify;
	border: 1px solid black;
	padding-left: 7px;
	padding-right: 7px;
}
#exi{
	margi-top: 25px;
	text-align:  justify;
	border: 1px solid black;
	padding-left: 7px;
	padding-right: 7px;
}
#evo{
	margi-top: 25px;
	text-align:  justify;
	border: 1px solid black;
	padding-left: 7px;
	padding-right: 7px;
}
#res{
	margi-top: 25px;
	text-align:  justify;
	border: 1px solid black;
	padding-left: 7px;
	padding-right: 7px;
}
 */