.container {
	background-color: #CCC;
	padding: 20px;
	width: 100%;
}

.format {
	padding: 10px;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border-left: #0000FF 3px solid;
	/*width: 750px; */
	margin-top:10px;
	margin-bottom:10px;
}

.logo{
	width: 40%;
}
.entete{
	margin-left: 5%;
	width:60%;
}
.subtitle{
	width: 75%;
	margin-left: 5%;
}
.titre {
	color: #0000FF;
	font-size: 20px;
	/* margin-left: 10px; */
	/* padding: 3px; */
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.box {
	border: 1px solid #0000FF;
	margin-top: 1px;
	margin-left: 5px;
	font-size: 15px;
	padding: 10px;
	margin-bottom: 35px;
}

.colOne {
	width: 28%;
}

.colTwo {
	width: 62%;
}



@page { 	
	@top-center { 
	content:element(header);
}

	@bottom-right{
	content: element(footerLink);
}

	@bottom-left {
	content: element(footer);
}
}
@page { margin: 100px 50px 100px}
.header {
	margin: 0px 0px 0px 15px;
	position: running(header);
}

.footer {
	font-size: 11px;
	position: running(footer);
}
.footerLink{
	margin: 0px -50px 0px 0px;
	position: running(footerLink);
}
.pagenumber:before {
	content: counter(page);
}

.pagecount:before {
	content: counter(pages);
}

strong,b {
	font-weight: bold;
}

div {
	/* page-break-inside:avoid; */
	display: block;
}