/* styles invariables
----------------------------------------------------------------------------- */

/* le div qui fait écran sur le reste de la page */
#modalObj {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background: #fff; /* modifiable par option javascript */
}

/* la boîte de message */
#msgBox {
	position: absolute;
	z-index: 1001;
}

/* design par défaut (sert aussi de base aux skins)
----------------------------------------------------------------------------- */

/* le titre de la boîte de message */
.msgBox #msgTitle {
	margin: 0;
	padding: .2em .6em;
	font-size: 1.1em;
	font-weight: bold;
	background: #e8e0ca;
	color: #584b2c;
	border-bottom: 1px solid #c2b487;
	-moz-border-radius: .8em 0 0 0;
	-webkit-border-radius: .8em 0 0 0;
	border-radius: .8em 0 0 0;
}

/* la boîte */
.msgBox {
	border-width: 1px;
	border-style: solid;
	max-width: 400px;
	padding: 0;
	background: #fff;
	border-color: #c2b487;
	-moz-border-radius: 1em 0 1em 0;
	-webkit-border-radius: 1em 2em 1em 2em;
	border-radius: 1em 0 1em 0;
}

/* le div de contenu du message */
.msgBox #msgContent {
	padding: .4em .6em;
	text-align: justify;
	color: #514721;
}
/* le bouton de fermeture et son conteneur */
.msgBox #closeBtn {
	text-align: right;
	margin: 0;
	padding: 0;
	padding-bottom: 1px;
}

.msgBox #closeBtn a {
	padding: 4px .5em;
	border: 1px solid #c2b487;
	border-width: 1px 0 0 1px;
	margin: 0 0 .0 .6em;
	font-weight: bold;
	text-decoration: none;
	color: #514721;
	-moz-border-radius: 0 0 .8em 0;
	-webkit-border-radius: 0 0 .8em 0;
}

.msgBox #closeBtn a:hover {
	background: #e8e0ca;
}

/* skins
----------------------------------------------------------------------------- */
.error {
	background: #ffe1e2;
}

#msgBox.error #msgTitle {
	background: #ffaeb0;
	color: #fff;
}

#msgBox.error #msgContent {
	color: #8a1f11;
}

#msgBox.error #closeBtn a {
	color: #f09486;
}

#msgBox.error #closeBtn a:hover {
	color: #fff;
	background: #ffaeb0;
}

.success {
	background: #E6EFC2;
}

#msgBox.success #msgTitle {
	background: #C6D880;
	color: #fff;
}

#msgBox.success #msgContent {
	color: #264409;
}

#msgBox.success #closeBtn a {
	color: #b1ca51;
}

#msgBox.success #closeBtn a:hover {
	color: #fff;
	background: #C6D880;
}

/*Ajouter à la suite */
.infos, .successs, .warnings, .errors, .validations {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.infos {
color: #00529B;
background-color: #BDE5F8;
background-image: url('images/info.jpeg');
}
.successs {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('images/success.jpeg');
}
.warnings {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('images/warning.jpeg');
}
.errors {
color: #D8000C;
background-color: #FFBABA;
background-image: url('images/error.jpeg');
}

#loader
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  background-color: rgba(0, 0, 0, 0.5); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; 
  z-index: 1000;
}
.popup_block
{
  background: #fff;
  padding: 20px;
  border: 20px solid  #ddd;
  border:10px solid  #ddd;
  position: relative;
  margin: 10% auto;
  width: 40%;
  box-shadow: 0px 0px 20px #000;
  border-radius: 10px;
}

#infobulle {
	position:absolute;
	border: 1px solid white;
	background : white;
	padding: 2px 5px;
	displays: none;
}
