/* Général ------------------------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
}

body, p, legend, label, thead, tbody {
	font: normal 8pt verdana, helvetica, sans-serif;
	border: 0 none;
	vertical-align: baseline;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"],
	input[type="datetime-local"], input[type="date"], input[type="month"],
	input[type="time"], input[type="week"], input[type="number"], input[type="email"],
	input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
	.uneditable-input {
	display: inline-block;
	/* height: 20px; */
	padding: 4px 6px;
	margin-bottom: 10px;
	/* font-size: 14px; */
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

body {
	background-color: #FFFFFF;
	color: #000000;
	/*font-family: Arial, Verdana, Helvetica, sans-serif;*/
	font-size: 85%;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

h1 {
	font-size: 1.3em;
	font-variant: small-caps;
	font-weight: bold;
	margin: 0 5px 5px;
	font-weight: bold;
}

h2 {
	color: #0066ff;
	font-size: 1.1em;
	padding: 5px;
}

h2.titre {
	padding-left: 5px;
	margin: 10px 10px 1% 0px;
}

h3 {
	color: #0066ff;
	font-size: 1.1em;
	padding: 5px;
}

span {
	clear: both;
}

span.nonSoumis {
	color: #800000;
	font-size: 1em;
}

span.soumis {
	color: #FFA500;
	font-size: 1em;
}

span.traitement {
	color: #C71585;
	font-size: 1em;
}

span.approuve {
	color: #32CD32;
	font-size: 1em;
}

p {
	font-size: 0.8em;
	margin: 2px;
}

li {
	/*font-size: 0.8em;*/
	margin: 2px 0 2px 15px;
}

a {
	color: #0066ff;
	font-size: 11px;
}

a:active, a:focus, a:hover {
	text-decoration: none;
}

a:visited {
	
}
/* Forms --------------------------------------------------------------------------------------- */
fieldset {
	padding: 10px;
	border: 1px #0568CD solid;
}

fieldset.name {
	clear: both;
	margin-bottom: 2px;
	padding: 3px 0px 3px 0px;
}

legend {
	font-weight: bold;
	color: #0568CD;
}

form label {
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}

/* form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}

form input.sansLabel {
	margin-left: 200px;
}
 */
input[type="button"], input[type="submit"] {
	background-color: #0068A8;
}

input[type="button"].fill {
	clear: both;
	padding: 3px 5px;
}

input[type="button"], input[type="submit"], input[type="reset"], button
	{
	background: none repeat scroll 0 0 #0068A8;
	border: medium none;
	border-radius: 1px;
	color: #FFFFFF;
	font-size: 12px;
	margin: 2px;
	padding: 4px 10px;
}

form input, form textarea {
	background-color: #FFFFFF;
	border: 1px solid #D2D1D1;
	border-radius: 3px;
	color: #5D5D5D;
	font-size: 12px;
	outline: medium none;
	padding: 4px 6px;
}

#btnResumeDel {
	background-image: url('images/supprimer.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	border: 0px;
	cursor: pointer;
	outline: 0;
	background-color: white;
	padding: 0px 0px;
}
/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
	color: #c00;
}

.erreur {
	color: #900;
}

.succes {
	color: #090;
}

.info {
	font-style: italic;
	color: #E8A22B;
}

.clear {
	clear: both;
}

.lien {
	font-size: 16px;
	padding: 8px 16px 12px;
}

.regroupeMenu {
	border: 1px solid #0066ff;
	margin: 2px;
	padding: 2px 5px;
	text-decoration: none;
	background: #DDD;
}

.menuTitle {
	font: bold 12px Arial, sans-serif;
	height: 1%;
}

.TabDyn {
	padding: 5px;
}

.action {
	border: 1px solid #900;
	color: #900;
}

input[type="button"].joint {
	clear: both;
	background-image: url('/MenuCra/resources/images/joindre.jpg');
	background-color: #0068A8;
	border: 1px solid #D2D1D1;
}

td.none {
	clear: both;
	border: none;
}

.selectBox {
	display: block;
	width: 100px;
}

/* --------------------------------------------------------------------------------------------- */
#navmenu a {
	border: 1px solid #FFF;
	padding: 6px;
	display: block;
	background: #DDD;
	color: #666;
	font: bold 11px Arial, sans-serif;
	text-decoration: none;
	height: 1%;
}

#userLogOut a {
	border: 1px solid #FFF;
	padding: 6px;
	display: block;
	background: #DDD;
	color: #666;
	font: bold 11px Arial, sans-serif;
	text-decoration: none;
	height: 1%;
	margin-bottom: 5px;
}

#userLogOut a:HOVER {
	border: 1px solid #FFF;
	padding: 6px;
	display: block;
	background: #666;
	color: #FFFCFC;
	font: bold 11px Arial, sans-serif;
	text-decoration: none;
	height: 1%;
	margin-bottom: 5px;
}

/* Blocs constituants -------------------------------------------------------------------------- */
div#menu {
	display: block;
	margin: 10px 10px;
	float: left;
	width: 15%;
	/* height: 570px; */
	margin-bottom: 1%;
	align-content
}

div.logo {
	display: block;
	margin: 0.2% 30px 5px;
}

div#dynamic {
	display: inline-block;
	width: 72%;
	/* overflow: auto; */
}

div#scrolableT {
	/* width: 15%; */
	float: left;
}

div#nonScrolableT {
	margin-left: 15%;
	overflow: auto;
	/*  width: 85%; */
}

#scrolableT .odd {
	height: 50px;
}

#scrolableContent {
	overflow: auto;
}

#nonScrolableT .odd {
	height: 50px;
}

div#divSelect {
	width: 99.3%;
}

div#rappelForm {
	width: 25%;
}

div#corps {
	padding: 5px;
	width: 90%;
}

.box {
	padding: 5px;
	width: 99.3%;
}

#scrolableBox {
	overflow: auto;
}

.fichier {
	padding: 5px;
	margin-left: 5px;
	width: 99.3%;
}

.bName {
	display: inline-table;
}

.bInfo {
	display: block;
}

#error {
	min-width: 200px;
	max-height: 400px;
	margin: 8% auto;
	border: 6px solid #C6263E;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #AC292E;
	background-color: #fefefe;
}

div.module {
	/* border: 6px solid #8A2BE2; */
	padding: 20px;
	background-color: #fefefe;
}

div.submit {
	padding: 5px;
	width: 90%;
}

#container {
	border: 2px solid #000000;
	margin: 5px;
}

#header {
	padding: 5px;
	position: relative;
}

#user {
	position: absolute;
	right: 10px;
	text-align: center;
	top: 5px;
	width: 180px;
}

#navigation {
	border-bottom: 2px solid #0066ff;
}

#navigation ul {
	list-style-type: none;
	margin: 2px 0 0 10px;
}

#navigation li {
	display: inline;
	margin: 0;
}

#navigation li a {
/* 	border: 1px solid #0066ff;
 */	border-bottom: none;
	margin: 2px;
	text-decoration: none;
}

#navigation .home
{
	margin-left: 30px;
}

#menu ul {
	list-style-type: none;
	margin: 2px 0 0 10px;
}

#menu li {
	display: inline;
	margin: 0;
}

#menu li a {
	border: 1px solid #0066ff;
	margin: 2px;
	padding: 2px 5px;
	text-decoration: none;
}

#menu li a:hover, #navigation li a:active, #navigation li a:focus {
	background: #0066ff;
	color: #ffffff;
}

#content {
	clear: both;
	margin: 10px;
}

#footer {
	border-top: 1px dashed #0066ff;
	clear: both;
	padding: 3px 0;
	margin-bottom: 3px;
}

#footer p {
	font-size: .8em;
}

#home .home a, #member .member a, #messaging .messaging a, #group .group a
	{
	background: #0066ff;
	color: #000000;
	font-weight: bold;
	font-size: 11px;
}

.message-menu {
	float: left;
	width: 20%;
	position: relative;
	border-right: 2px solid #0066ff;
}

.message-body {
	margin-left: 220px;
}

#login th {
	text-align: right;
}

/* Tableaux -------------------------------------------------------------------------------------*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

tr.pair {
	background-color: #efefef;
}

tr.impair {
	background-color: #fff;
}

th {
	color: #0568CD;
	border: 1px solid #000000;
}

th.modifier {
	border: 1px solid #490;
	color: #490;
}

th.activer {
	border: 1px solid #900;
	color: #900;
}

select {
	text-align: center;
}

td {
	border: 1px solid #000000;
	padding: 5px;
	vertical-align: middle;
}

.bilan {
	clear: both;
	vertical-align: top;
}

td.modifier {
	text-align: center;
	border: 1px solid #490;
	color: #490;
}

td.activer {
	text-align: center;
}

.test th {
	width: 200px;
}

.test td {
	width: 200px;
}

.inner ul {
	list-style-type: none;
}

#dd_ajax_float {
	/*display: inline-block;
	width: 72%;
	overflow: auto;*/
	display: inline-block;
	width: 9%;
	overflow: auto;
	text-align: justify;
	border: 1px solid #BBB;
	/*min-width: 125px;*/
	min-height: 120px;
	/*max-width: 130px;*/
	/*width: auto;*/
	border-radius: 5px;
	box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.2);
	padding: 2px;
	/*position: absolute;
    /*display: none;*/
	/*left: -120px;*/
	font: 11px/16px Arial;
	background: none repeat scroll 0% 0% padding-box #FFF;
}

.jqte-test {
	display: block;
	margin: 0 0 10px;
	padding: 6px;
	width: 95%;
	background: #FFF;
	border: #AAA 1px solid;
	font-size: 13px;
}

textarea.jqte-test, div.jqte-test, span.jqte-test {
	min-height: 100px;
}

div.view table td {
	text-align: left;
}

#userLogo{
	margin: 13px 14px 0px 3px;
	position: relative;
	width: 39px;
	height: 39px;
	position:relative;
	border-radius: 100%;
}

#userLogoUpdating {
	position: absolute;
	width: 39px;
	height: 39px;
	border-radius: 100%;
}

#userLogoStatic{
	margin: 10px 0px 0px 0px;
	position: absolute;
	width: 45px;
	height: 45px;
}

/* #updateProfil {
	width: 200px;
}

#logOut {
	width:200px;
} */

#userLogOut
{
   /*   height: 200px;
     width: 200px;
 */     background: #DCD9D6;
     display: none;
     position:absolute;
     margin-top: 5px;
     z-index: 1;
}

#happyBD {
	margin-left: 350px;
}