table.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: auto;
}

table.table th {
	background: none repeat scroll 0 0 #0068A8;
	color: #FFFFFF;
	padding: 7px;
	text-align: center;
}

table.table th.weekend {
	clear: both;
	background: none repeat scroll 0 0 #900;
}

table.table th.today {
	clear: both;
	background: none repeat scroll 0 0 #490;
}

table.table th a {
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
	width: 100%;
}

table.table th.center,table.table td.center {
	text-align: center;
}

table.table td {
	background: none repeat scroll 0 0 #FFFFFF;
	line-height: 1.4em;
	padding: 7px;
	text-align: center;
}

table.table td.bName {
	width: 91%;
}

table.table td.weekend {
	clear: both;
	background: none repeat scroll 0 0 #A9A9A9;
}

table.table td.today {
	clear: both;
	background: none repeat scroll 0 0 #F5FFFA;
}

table tbody tr.odd td {
	background-color: #EAEAEA;
}

table tbody tr.total td {
	background-color: #555657;
	color: #FFFFFF;
}

table tbody tr td strong {
	color: #333333;
	font-weight: bold;
}

table tbody tr.total td strong {
	color: #FFFFFF;
	font-weight: bold;
}

table tbody tr.total td.totalgood {
	clear: both;
	background-color: green;
}

table tbody tr.total td.totalbad {
	clear: both;
	background-color: red;
}

table tbody tr.pair {
	background-color: #efefef;
}

table tbody tr.impair {
	background-color: #fff;
}

table thead tr .headerSortUp {
	background-image: url("../images/tablesorter-asc.png");
}

table thead tr .headerSortDown {
	background-image: url("../images/tablesorter-dsc.png");
}

table.table th.checkbox-col {
	width: 10px;
}

table.table td.right {
	text-align: right;
}

table.table td left {
	text-align: left;
}

table tfoot tr.total td {
	background-color: #555657;
	color: #FFFFFF;
}

table tfoot tr td strong {
	color: #333333;
	font-weight: bold;
}

table tfoot tr.total td strong {
	color: #FFFFFF;
	font-weight: bold;
}

table.hover tr:hover,table.hover tr:hover td,table.hover tr:hover td table tbody tr,table.hover tr:hover td table tbody tr td
	{
	background-color: #CCCCCC;
}

table.data th {
	background: none repeat scroll 0 0 #FFFFFF;
	border: medium none;
	color: inherit;
	font-weight: bold;
}

table.table tr.pertNiveau1 td {
	background-color: #81F781;
}
table.table tr.pertNiveau2 td {
	background-color: #81F7D8;
}
table.table tr.pertNiveau3 td {
	background-color: #F3F781;
}
table.table tr.pertNiveau4 td {
	background-color: #F7BE81;
}
table.table tr.pertNiveau5 td {
	background-color: #F6CECE;
}
table.table tr.pertNiveau6 td {
	background-color: #F5DA81;
}
table.table tr.congeValide td {
	background-color: #A5FB8E;
}
table.table tr.congeNonValide td {
	background-color: #FFACAC;
}